<!-- Newsletter starts -->
		<div class="container newsletter">
			<div class="row">
				<div class="col-md-12">
					<div class="well">
						<h5><i class="fa fa-envelope"></i> Hot Offers - Don't Miss Anything!!!</h5>
						<p>Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet.</p>
						<form class="form-inline" role="form">
							<div class="form-group">
								<input type="email" class="form-control" id="search" placeholder="Subscribe">
							</div>
							<button type="submit" class="btn btn-default">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!--/ Newsletter ends -->

		<!-- Footer starts -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4">
								<div class="widget">
									<h5>Contact</h5>
									<hr />
									<div class="social">
										<a href="<%-contact.social.facebook%>" target="_blank"><i class="fa fa-facebook facebook"></i></a>
										<a href="<%-contact.social.twitter%>" target="_blank"><i class="fa fa-twitter twitter"></i></a>
										<a href="<%-contact.social.linkedin%>" target="_blank"><i class="fa fa-linkedin linkedin"></i></a>
										<a href="<%-contact.social.google%>" target="_blank"><i class="fa fa-google-plus google-plus"></i></a> 
									</div>
									<hr />
									<i class="fa fa-home"></i> &nbsp; <%-contact.address%>
									<hr />
									<i class="fa fa-phone"></i> &nbsp; <%-contact.phone%>
									<hr />
									<i class="fa fa-envelope-o"></i> &nbsp; <a href="mailto:<%-contact.email%>"><%-contact.email%></a>
									<hr />
									<div class="payment-icons">
										<img src="img/payment/americanexpress.gif" alt="" />
										<img src="img/payment/visa.gif" alt="" />
										<img src="img/payment/mastercard.gif" alt="" />
										<img src="img/payment/discover.gif" alt="" />
										<img src="img/payment/paypal.gif" alt="" />
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="widget">
									<h5>About Us</h5>
									<hr />
									<p><%-about%></p> 
								</div>
							</div>
							<div class="col-md-4">
								<div class="widget">
									<h5>Links Goes Here</h5>
									<hr />
									<div class="two-col">
										<div class="col-left">
											<ul>
												<li><a href="#">Condimentum</a></li>
												<li><a href="#">Etiam at</a></li>
												<li><a href="#">Fusce vel</a></li>
												<li><a href="#">Vivamus</a></li>
												<li><a href="#">Pellentesque</a></li>
												<li><a href="#">Vivamus</a></li>
											</ul>
										</div>
										<div class="col-right">
											<ul>
												<li><a href="#">Condimentum</a></li>
												<li><a href="#">Etiam at</a></li>
												<li><a href="#">Fusce vel</a></li>
												<li><a href="#">Vivamus</a></li>
												<li><a href="#">Pellentesque</a></li>
												<li><a href="#">Vivamus</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
						<hr />
						<!-- Copyright info -->
						<p class="copy">Copyright &copy; <%-year%> | <a href="#">Your Site</a> - <a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Service</a> | <a href="#contact">Contact Us</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</footer> 	
		<!--/ Footer ends -->